{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


{% block content %}
    <h1 style="text-align: center">What do you want to search for on Codedaddies List?</h1>
    <div class="row">
        <div class="col s4">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>Fast craigslist web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>Filter your searches</p>
                <p class="light center">We built in functionality to filter based on pricing.</p>
            </div>

        </div>
        <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>A much sexier front-end to Craigslist</p>
                <p class="light center">We built this with ❤️</p>
            </div>
        </div>

    </div>


    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <input type="text" name="min_price" placeholder="min price">
        <input type="text" name="max_price" placeholder="max price">
        <input type="submit" value="submit">
    </form>

    <div class="center">
        <h2> {{ search | title }} </h2>

    </div>

    <div class="row">
        {% for posting in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ posting.3 }}" alt="">
                    </div>
                    <div class="card-content">
                        <p>{{ posting.0 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ posting.1 }}">View listing: Price {{ posting.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}

